<footer class="custom-bg text-light py-5">
  <div class="container">
  <div class="row">
      <div class="col-md-4">
        <h5 class="mb-3">About</h5>
        <p>The Avengers began as a group of extraordinary individuals who were assembled to defeat Loki and his Chitauri army in New York City. Since then, the team has expanded its roster and faced a host of new threats, while dealing with their own turmoil.</p>
      </div>
      <div class="col-md-4">
        <h5 class="mb-3">Categories</h5>
        <ul class="list-unstyled">
          <li>ADVERTISING</li>
          <li>DISNEY+</li>
          <li>MARVELHQ.COM</li>
          <li>DIGITAL COMICS</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="mb-3">Contact</h5>
        <a class="btn btn-outline-light btn-social mx-1" href="www.linkedin.com/in/luis-marin-1580b6231"><i class="fab fa-linkedin-in"></i></a>
        <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/LuisgMarin"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </div>
</footer>
