/*Color navbar*/
.custom-bg {
  background-color: #1B161A;
}

/*Color secundario*/
.secundary-bg {
  background-color: #A52A2A;
}

/*Color letra*/
.navbar-nav .nav-link{
  color: white !important;
}
.secundary-bg{
  color: white;
}
.navbar-brand {
  color: white !important;
}

